<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Simple Map and Weather App</title>
		<link rel="stylesheet" type="text/css" href="static/mystyle.css">
<link href="https://fonts.googleapis.com/css?family=Quicksand:300,500" rel="stylesheet">

</head>


<body>
    <div class="contact-form">
        <br><h1>Simple Map and Weather App</h1></br>

<br><p>This App shows you a map and the respective weather for any place.</p>
<p>Just enter a city below or 
<a href="http://localhost:5000/trier"><font color="white">click here</font></a> for an example.</p></br>

<center><form method="POST">
    <input name="text">
    <b><input type="submit" value="Get Map and Weather!" name="text"></b>
</form></center>
</div>
	
	
<div class="footer">
	<p>Picture by D.W.</p>
</div>
	
	
</body>
</html>
